*.avif binary
*.db binary
*.dng binary
*.doc binary
*.docx binary
*.gif binary
*.gz binary
*.heic binary
*.ico binary
*.jpeg binary
*.jpg binary
*.pdf binary
*.png binary
*.ppt binary
*.pptx binary
*.sqlite binary
*.sqlite3 binary
*.tar binary
*.tgz binary
*.webp binary
*.xls binary
*.xlsx binary
*.zip binary
